<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login page   </title>
  </head>
  <body>
    <div class="bg-zinc-900 text-white w-full h-screen">
      <div class="form p-4 w-full rounded">
        <form
          action="/login"
          method="post"
          class="w-full h-full flex flex-col items-center mt-8"
        >
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            class="border border-gray-300 outline-none block rounded p-2 mb-4 w-full max-w-md"
            required
          />
          <input
            name="password"
            type="password"
            class="border border-gray-300 outline-none block rounded p-2 mb-4 w-full max-w-md"
            placeholder="Enter Your Password"
            required
          />

          <input
            type="submit"
            class="border border-gray-300 block rounded cursor-pointer p-2 mb-4 w-full max-w-md"
          />
        </form>
      </div>
    </div>
  </body>
</html>
